__pycache__/
*.pyc
Pan20/
Pan20.gz
Pan20.tgz
Example_Ara.tgz
DOCKER_USAGE.md
docker/scripts/hvcf2bed.py
graphs/build_Med13_database.sh
graphs/build_Pan20_database.sh
graphs/Example_Ara.yaml
graphs/Example_Ara_samplelist.tsv


#Med13 stuff
graphs/Med13_samplelist.tsv
graphs/Med13.yaml
graphs/PHG_Med13_database.config
graphs/build_Med13_database.sh
