# Pan20-style PHG build inputs for barley genomes.

DATABASE_NAME=Pan76-mmap_pro
REFERENCE_FASTA=https://doi.ipk-gatersleben.de/DOI/b2f47dfb-47ff-4114-89ae-bad8dcc515a1/b6e6a2e5-2746-4522-8465-019c8f56df7f/1/DOWNLOAD
REFERENCE_GFF=https://doi.ipk-gatersleben.de/DOI/b2f47dfb-47ff-4114-89ae-bad8dcc515a1/5d16cc17-c37f-417f-855d-c5e72c721f6c/1/DOWNLOAD
REFERENCE_NAME=MorexV3

# Provide one or more assembly sources as local paths or URLs.
# Each genome entry is written on its own line.
# Format: NAME|URL (the name is used for the prepared FASTA file)
#ASSEMBLYS=MorexV3|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_904849725.1?download=true&gzip=true
ASSEMBLYS=Barke|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949782835.1?download=true&gzip=true
ASSEMBLYS=HOR_19184|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783405.1?download=true&gzip=true
ASSEMBLYS=HOR_7172|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783325.1?download=true&gzip=true
ASSEMBLYS=HOR_13663|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783385.1?download=true&gzip=true
ASSEMBLYS=HOR_14061|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783355.1?download=true&gzip=true
ASSEMBLYS=HOR_2180|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783285.1?download=true&gzip=true
ASSEMBLYS=HOR_495|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783425.1?download=true&gzip=true
ASSEMBLYS=HOR_12184|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783505.1?download=true&gzip=true
ASSEMBLYS=HOR_6220|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783315.1?download=true&gzip=true
ASSEMBLYS=HOR_8117|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_951816725.1?download=true&gzip=true
ASSEMBLYS=HOR_7385|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783575.1?download=true&gzip=true
ASSEMBLYS=HOR_2830|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783545.1?download=true&gzip=true
ASSEMBLYS=HOR_14273|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783335.1?download=true&gzip=true
ASSEMBLYS=HOR_18321 |https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783465.1?download=true&gzip=true
ASSEMBLYS=HOR_3474|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783475.1?download=true&gzip=true
ASSEMBLYS=HOR_2779|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783485.1?download=true&gzip=true
ASSEMBLYS=HOR_14121|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783365.1?download=true&gzip=true
ASSEMBLYS=HOR_21322|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783445.1?download=true&gzip=true
ASSEMBLYS=HOR_21595|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783375.1?download=true&gzip=true


# Optional overrides
THREADS=64
CONDA_ENV=phgv2-conda
GMAP_BUILD_CMD=/scratch/software-phgv2/miniconda3/envs/align2graph_env/bin/gmap
