# Pan20-style PHG build inputs for barley genomes.

DATABASE_NAME=Ara_toyset
REFERENCE_FASTA=https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_904849725.1?download=true&gzip=true
REFERENCE_GFF=https://doi.ipk-gatersleben.de/DOI/b2f47dfb-47ff-4114-89ae-bad8dcc515a1/5d16cc17-c37f-417f-855d-c5e72c721f6c/1/DOWNLOAD
REFERENCE_NAME=MorexV3

# Provide one or more assembly sources as local paths or URLs.
# Each genome entry is written on its own line.
# Format: NAME|URL (the name is used for the prepared FASTA file)
ASSEMBLYS=HOR_14121|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783365.1?download=true&gzip=true
ASSEMBLYS=HOR_21595|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783375.1?download=true&gzip=true
ASSEMBLYS=HOR_3474|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783475.1?download=true&gzip=true
ASSEMBLYS=HOR_13942|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783295.1?download=true&gzip=true
ASSEMBLYS=HOR_21599|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783435.1?download=true&gzip=true
ASSEMBLYS=HOR_3365|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783415.1?download=true&gzip=true
ASSEMBLYS=HOR_2830|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783545.1?download=true&gzip=true
ASSEMBLYS=HOR_10892|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783585.1?download=true&gzip=true
ASSEMBLYS=HOR_2779|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783485.1?download=true&gzip=true
ASSEMBLYS=HOR_1168|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783555.1?download=true&gzip=true
ASSEMBLYS=HOR_12184|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_949783505.1?download=true&gzip=true

# Optional overrides
THREADS=32
CONDA_ENV=phgv2-conda
GMAP_BUILD_CMD=/scratch/software-phgv2/miniconda3/envs/align2graph_env/bin/gmap