# Pan20-style PHG build inputs for barley genomes.

DATABASE_NAME=Ara_toyset
REFERENCE_FASTA=https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_904849725.1?download=true&gzip=true
REFERENCE_GFF=https://doi.ipk-gatersleben.de/DOI/b2f47dfb-47ff-4114-89ae-bad8dcc515a1/5d16cc17-c37f-417f-855d-c5e72c721f6c/1/DOWNLOAD
REFERENCE_NAME=MorexV3

# Provide one or more assembly sources as local paths or URLs.
# Each genome entry is written on its own line.
# Format: NAME|URL (the name is used for the prepared FASTA file)
ASSEMBLYS=Akashinriki|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=b8a0d6158b9961df&folder_ids=
ASSEMBLYS=B1K-04-12|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=0d16186aaff7cbfd&folder_ids=
ASSEMBLYS=Barke|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=6d4c8d216c52b289&folder_ids=
ASSEMBLYS=Chiba|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=68013dab1c13fb37&folder_ids=
ASSEMBLYS=Du_Li_Huang|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=6d9affd96770ffb9&folder_ids=
ASSEMBLYS=GoldenPromise|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=0998682e795f41c2&folder_ids=
ASSEMBLYS=Hockett|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=f30a35c999095ed7&folder_ids=
ASSEMBLYS=HOR_10350|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=9b5c597dcbb59371&folder_ids=
ASSEMBLYS=HOR_13821|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=c08f58209a47fe2d&folder_ids=
ASSEMBLYS=HOR_13942|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=59606d2a36c77a56&folder_ids=
ASSEMBLYS=HOR_21599|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=3f00d864a8cefbf4&folder_ids=
ASSEMBLYS=HOR_3081|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=fbff8f73b82d1777&folder_ids=
ASSEMBLYS=HOR_3365|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=b2486a20bc56b90f&folder_ids=
ASSEMBLYS=HOR_7552|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=83e633fc7a5c928a&folder_ids=
ASSEMBLYS=HOR_8148|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=795b4cb2a2107ba7&folder_ids=
ASSEMBLYS=HOR_9043|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=c86c1b73aa7102dd&folder_ids=
ASSEMBLYS=Igri|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=1ac3b66e11b8fe50&folder_ids=
ASSEMBLYS=OUN333|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=e2132aef71b11dbf&folder_ids=
ASSEMBLYS=Planet|https://galaxy-web.ipk-gatersleben.de/api/libraries/datasets/download/uncompressed?ld_ids=0d72ca01c763d02d&folder_ids=

# Optional overrides
THREADS=32
CONDA_ENV=phgv2-conda
GMAP_BUILD_CMD=/scratch/software-phgv2/miniconda3/envs/align2graph_env/bin/gmap