DATABASE_NAME=Example_Ara
REFERENCE_FASTA=https://raw.githubusercontent.com/Brassica/Arabidopsis-Reference-Genomes/main/Col0/TAIR10.fa
REFERENCE_GFF=https://raw.githubusercontent.com/Brassica/Arabidopsis-Reference-Genomes/main/Col0/TAIR10.gff
REFERENCE_NAME=Col0
THREADS=16
CONDA_ENV=phgv2-conda
GMAP_BUILD_CMD=/usr/local/bin/gmap_build
ASSEMBLYS=GCA_036942445.1|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_036942445.1?download=true&gzip=true
ASSEMBLYS=GCA_036942575.1|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_036942575.1?download=true&gzip=true
ASSEMBLYS=GCA_036942965.1|https://www.ebi.ac.uk/ena/browser/api/fasta/GCA_036942965.1?download=true&gzip=true
